@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <ejs-pdfviewer id="pdfviewer" style="height:100%" serviceUrl="/Index" documentLoad="documentLoaded" documentPath="Data/FormDesigner.pdf">
    </ejs-pdfviewer>
</div>


<style>
    #pdfviewer {
        display: block;
    }
</style>

<script type="text/javascript">
     function documentLoaded(args) {
        var pdfViewer = document.getElementById('pdfviewer').ej2_instances[0];
        pdfViewer.signatureFieldSettings.signatureDialogSettings = { displayMode: 1, hideSaveSignature: true };
        pdfViewer.initialFieldSettings.initialDialogSettings = { displayMode: 1, hideSaveSignature: true };
     };
</script>